{% extends 'base.html' %}
{% block content %}
<h6>We are a start up website founded by a young graduate. 
Our goal as a company is to present a viable option to traditional dictionaries.</h6>
<h6>We all know that languages are evolving, and that many of the words and terms we currently use donot have an official meaning 
and their are not present in traditional dictionaries neither.</h6>
<h6>As a website and a company, we are looking to collect good definitions those words, store them, and keep them accessible to all the users who wish to consult them.</h6>
<h6>You, as a user, can view, edit and delete definitions. We allow this deep interaction with the platform because we want this to be a trully COMMUNITY DICTIONARY, as the name says. So, If you do not agree with a definition, feel free to add or edit one.</h6>
<h6>Lastly, we must share our ultimate goal with you... the user!</h6>
<h5>We wish to create a book with all the definitions and finally have a dictionary with expressions used widely but not officially recognized :)</h5>
{% endblock %}