<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Material Icons connection url-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Materialize connection url-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <title>Document</title>
</head>
<body>
    <header>
         <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('test')}}" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('test')}}">Sass</a></li>
                    <li><a href="{{url_for('add')}}">Components</a></li>
                    <li><a href="{{url_for('domains')}}">JavaScript</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a href="{{url_for('test')}}">Sass</a></li>
                    <li><a href="{{url_for('add')}}">Components</a></li>
                    <li><a href="{{url_for('domains')}}">JavaScript</a></li>
                </ul>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <h1>Outside</h1>
        {% block content %}
        {% endblock %}
    </div>

    <!--JQuery connection script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!--Materialize connection script-->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.dropdown-trigger').dropdown();
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>