<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Material icons connection url-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='materialize/css/materialize.css')}}"  media="screen,projection"/>


    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <title>Community Dictionary</title>
</head>
<body>
<div class="row">
    <header>
         <nav class="indigo darken-4">
            <div class="nav-wrapper col s10 offset-s1">
                <a href="{{url_for('home')}}" class="brand-logo"><strong><u>ComDic</u></strong></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('aboutus')}}">About Us</a></li>
                    <li><a href="{{url_for('domains')}}">Domains</a></li>
                    <li><a href="{{url_for('home')}}">Terms</a></li>
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    <li><a class="indigo-text text-darken-4" href="{{url_for('aboutus')}}">About Us</a></li>
                    <li><a class="indigo-text text-darken-4" href="{{url_for('domains')}}">Domains</a></li>
                    <li><a class="indigo-text text-darken-4" href="{{url_for('home')}}">Terms</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid row">
            <div class="col s10 offset-s1 indigo-text text-darken-4 center-align">
                <h3>Try Our Community Dictionary!</h3>
                <h4>Find and Share the defintions of "street expressions"!</h4>
            </div>
        </div>
        <div class="container-fluid row">
            <div class="col s10 offset-s1 indigo-text text-darken-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer class="page-footer indigo darken-4 row">
            <h6 class="col s4 center-align">© 2019 Copyright</h6>
            <h6 class="col s4 center-align">Made by: Ricardo Santos</h6>
            <h6 class="col s4 center-align">Based On: Materialize</h6>
    </footer>
</div>
    <!--JQuery connection script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- JQuery code to work with forms and collapsable menus -->
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').formSelect();
            $('.dropdown-trigger').dropdown();
            $('.sidenav').sidenav();
        });
    </script>

    <!--Import materialize.js file-->
    <script type="text/javascript" src="{{url_for('static',filename='materialize/js/materialize.js')}}"></script>

</body>
</html>