{% extends 'base.html' %}
{% block content %}
   <h5>Edit</h5>

    <div class="row">
        <form action="{{url_for('update',definitionid=definition._id)}}" method="POST" class="col s12">
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <select id="domain_name" name="domain_name">
                            <option value="" disabled selected>Choose your option</option>
                            {% for domain in domains %}
                                {% if domain.domain_name == definition.domain_name %}
                                    <option value="{{domain.domain_name}}" selected>{{domain.domain_name}}</option>
                                {% else %}
                                    <option value="{{domain.domain_name}}">{{domain.domain_name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label>Materialize Select</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">assignment</i>
                        <input id="term" name="term" type="text" class="validate" value="{{definition.term}}">
                        <label for="term">Term</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">subject</i>
                        <textarea id="definition" name="definition" class="materialize-textarea">{{definition.definition}}</textarea>
                        <label for="definition">Definition</label>
                    </div>
                </div>
                <div class="row">
                     <div class="switch">
                        <label>
                        {% if definition.upvotes == "0" %}
                        <input id="upvote" name="upvote" type="checkbox">
                        {% else %}
                        <input id="upvote" name="upvote" type="checkbox" checked>
                        {% endif %}
                        <span class="lever"></span>
                        On
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit Term
                        <i class="material-icons right">playlist_add</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}