{% extends 'base.html' %}
{% block content %}
    <ul class="collapsible">
        {% for definicao in definicoes %}
            <li>
                <div class="collapsible-header"><i class="material-icons">expand_more</i><strong>{{definicao.domain_name}}</strong> - {{definicao.term}}</div>
                <div class="collapsible-body"><span>
                    {{definicao.definition}}
                    {{definicao.upvotes}}
                    {{definicao.downvotes}}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}